* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

h1 {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.main-1 {
    background-color: #5677e1;
}

.main-2 {
    background-color: #7b0782;
}

.main-3 {
    background-color: #8f1062;
}

.main-4 {
    background-color: #3f1d48;
}

.main-5 {
    background-color: #90b87e;
}

.main-6 {
    background-color: #63b996;
}

.main-7 {
    background-color: #0ff93e;
}

.main-8 {
    background-color: #17306f;
}

.main-9 {
    background-color: #fe8367;
}

.main-10 {
    background-color: #0d69f8;
}

.letter {
    padding: 15px;
}

.letter-color-1 {
    color: #5677e1;
    font-weight: 600;
}

.letter-color-2 {
    color: #7b0782;
    font-weight: 600;
}

.letter-color-3 {
    color: #8f1062;
    font-weight: 600;
}

.letter-color-4 {
    color: #3f1d48;
    font-weight: 600;
}

.letter-color-5 {
    color: #90b87e;
    font-weight: 600;
}

.letter-color-6 {
    color: #63b996;
    font-weight: 600;
}

.letter-color-7 {
    color: #0ff93e;
    font-weight: 600;
}

.letter-color-8 {
    color: #17306f;
    font-weight: 600;
}

.letter-color-9 {
    color: #fe8367;
    font-weight: 600;
}

.letter-color-10 {
    color: #0d69f8;
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: white;
    border-radius: 5px;
}

.fa-quote-left {
    padding: 15px;
}

.author {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.quote-buttton {
    padding: 13px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 35%;
}