.container {
    border: 1px solid black;
}

.container-1 {
    background-color: #5677e1;
}

.container-2 {
    background-color: #7b0782;
}

.container-3 {
    background-color: #8f1062;
}

.container-4 {
    background-color: #3f1d48;
}

.container-5 {
    background-color: #90b87e;
}

.container-6 {
    background-color: #63b996;
}

.container-7 {
    background-color: #0ff93e;
}

.container-8 {
    background-color: #17306f;
}

.container-9 {
    background-color: #fe8367;
}

.container-10 {
    background-color: #0d69f8;
}